<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Form</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="container">
    <div class="content-center">
        <div th:replace="~{fragments/header :: header}"></div>
        <h1>Collection Edit Form</h1>
        <form th:action="@{'/items/' + ${item.id} +'/edit'}" th:object="${item}" method="post" enctype="multipart/form-data">
            <label>Title : </label>
            <input type="text" name="title" th:field="*{title}" required /> <br>

            <label>Description</label> <br>
            <textarea name="description" th:field="*{description}" rows="5" cols="40" required></textarea> <br>

            <label>Current Image : </label><br>
            <img th:src="@{'/uploads/' + ${item.image}}" alt="current image" width="200" /> <br>

            <a th:href="@{'/items/' + ${item.id} +'/delete-image'}" onclick="return confirm('이미지를 삭제하겠습니까?')" >
                <button type="button" class="delete-btn" >Image Delete</button>
            </a> <br>

            <label>Change Image : </label>
            <input type="file" name="imageFile" /> <br>
            <!-- 기존 이미지 정보를 유지하기 위한 hidden 필드 추가 -->
            <input type="hidden" name="currentImage" th:value="${item.image}" />

            <label>Private check : </label>
            <input type="checkbox" name="private" th:field="*{private}" /> <br>
            <button type="submit" value="Submit" name="submit">edit submit</button>
        </form>
    </div>
</div>
</body>
</html>