<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Items</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="container">
    <div class="content-center">
        <div th:replace="fragments/header :: header"></div>
        <h1>My Collections</h1>
        <!-- Welcome 문구 -->
        <h2 th:if="${currentUserNickname != null}" style="margin-bottom: 20px;">
            Welcome, <span th:text="${currentUserNickname}">nickname</span>님! 소장품 목록
        </h2>
        <div th:if="${#lists.isEmpty(items)}">
            <p>등록된 소장품이 없습니다</p>
        </div>
        <div th:unless="${#lists.isEmpty(items)}">
            <ul>
                <li th:each="item : ${items}">
                    <h3>
                        <a th:href="@{'/items/' + ${item.id}}" th:text="${item.title}">Collection Title</a>
                    </h3>
                    <p>private check :
                        <span th:text="${item.isPrivate()} ? '&#x2713;' : '&#x2717;'"></span></p>
                    <p th:text="${item.description}">Collection Description</p>
                    <img th:src="@{'/uploads/' + ${item.image}}" alt="대표이미지" width="200">
                    <br>
                    <a th:href="@{'/items/' + ${item.id} + '/edit'}">
                        <button type="button">Edit</button>
                    </a>
                    <form th:action="@{'/items/' + ${item.id} + '/delete'}" method="post" style="display: inline">
                        <button type="submit" name="submit" onclick="return confirm('정말 삭제하시겠습니까?');">Delete</button>
                    </form>
                    <hr>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>